.container {
    margin-top: 100px;
}

.sectionCenter {
    width: 800px;
    margin: 0 auto;
}

/* .pageHeader {
    display: flex;
} */

.sectionSelectMbti {
    display: flex;
    padding: 15px;
}

.selectDiv {
    width: 90px;
}

.formTitleDiv {
    display: flex;
    align-items: center;
    margin-left: 270px;
}

.formTitleDiv > h5 {
    font-weight: bold;
    cursor: default;
}

.contentDiv {
    padding: 15px;
}

.postContentDiv {
    margin: 15px 0 15px 0;
    text-align: right;
}

.sectionRightArea {
    display: flex;
    flex-direction: column-reverse;

    /* 푸터에 배경이미지 추가 후 플로팅버튼을 가리지 않도록 추가 */
    position: relative;
    z-index: 10;
}

.sectionRightArea>div {
    /* border: dashed red 3px; */
    /* padding-right: 100px; */
    /* position: sticky; */
    position:fixed;
    right: 100px;
    bottom: 40px;
}

.movetopIcon {
    float: right;
    width: 50px;
    cursor: pointer;
}