.container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}

.sectionCenter {
    width: 800px;
}

.boardTitleB {
    display: inline-flex;
    justify-content: space-between;
    background-color:#F3F3F3;
    width:740px; 
    height:110px;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    padding-left: 35px;
    /* margin-bottom: 40px; */
    padding-top: 20px;
}
.boardTitleB>.boardTitleTextArea>p:first-child {
    font-size: 25px;
    margin-bottom: 0px;
    text-align: left;
} 
.boardTitleB>.boardTitleTextArea>p+p {
    font-size: 15px;
    font-weight: 600;
    color: #868484;
} 
.boardTitleImg {
    position: relative;
    bottom: 25px;
}

.writebtnDiv {
    display: flex;
    margin: 20px;
    justify-content: right;
}

.writebtnDiv>button {
    font-size: 16px;
    font-weight: 600;
    padding: 6px 15px 6px 15px;
    margin-right: 10px;
    border: none;
    background: none;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
}

.writebtnIcon {
    width: 16px;
    margin-right: 5px;
    margin-top: -3px;
}

.mbtwhyTable {
    width: 800px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}

.mbtwhyTable > tbody > tr {
    display: flex;;
}

.sectionRightArea {
    display: flex;
    flex-direction: column-reverse;

    /* 푸터에 배경 이미지 추가 후 플로팅 버튼을 가리지 않도록 추가 */
    position: relative;
    z-index: 10;
}

.sectionRightArea>div {
    /* border: dashed red 3px; */
    /* padding-right: 100px; */
    /* position: sticky; */
    position:fixed;
    right: 100px;
    bottom: 40px;
}

.movetopIcon {
    float: right;
    width: 50px;
    cursor: pointer;
}