.container {
    margin-top: 90px;
    margin-bottom: 90px;
}

.sectionCenter {
    width: 800px;
    margin: 0 auto;
}

.pageHeader {
    display: flex;
    border-bottom: solid 3px;
}

.pageHeader > h1 {
    width: 70%;
    text-align: left;
    cursor: default;
}

.sendNoteIcon {
    width: 18px;
    height: 18px;
    margin-top: 7px;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
    bottom: 2px;
}

.popoverButton {
    background: none;
    font-weight: bold;
    border: 0;
}

.popoverImg {
    width: 30px;
    margin-right: 10px;
}

.popoverItem {
    cursor: pointer;
    min-width: 30px;
    text-align: center;
}

.sectionBoard {
    padding: 25px;
    border-bottom: solid #C5C5C5 2px;
    font-weight: bold;
}

.writerDiv {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.writerDiv > div {
    display: flex;
}

.circleDiv {
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

/* 작성자 표시태그 */
.isPostWriterComment { 
    font-size: 14px;
    border: 1px solid #8F8F8F;
    padding: 0px 3px 0px 3px;
    border-radius: 4px;
    margin-left: 8px;
}

.commentLowDiv {
    display: flex;
    color: #C5C5C5;
    justify-content: space-between;
}

.viewIcon {
    height: 20px;
    margin-left: 30px;
    margin-right: 5px;
}

.boardContent {
    display: flex;
    overflow: hidden;
    width: 700px;
    text-align: left;
    margin-bottom: 30px;
    white-space: pre;
}

.boardLow {
    display: flex;
    color: #C5C5C5;
    font-size: 20px;
}

.boardLow > div {
    display: flex;
}

.boardLow > div > img {
    height: 30px;
}

.bookmarkDiv {
    display: flex;
    width: 20%;
    justify-content: start;
    cursor: pointer;
}

.thumbDiv {
    display: flex;
    width: 80%;
    justify-content: center;
    cursor: pointer;
}

.listDiv {
    display: flex;
    width: 20%;
    justify-content: end;
}

.sectionComment {
    padding: 25px;
    border-bottom: solid #C5C5C5 1px;
    white-space: pre;
}

.sectionComment > div{
    font-weight: bold;
}

.commentCountDiv {
    padding: 15px 25px 15px 25px;
    border-bottom: solid #C5C5C5 2px;
}

.commentCountDiv > div {
    font-weight: bold;
    cursor: default;
}

.sectionDeletedComment {
    min-height: 120px;
    padding: 15px 25px 15px 25px;
    border-bottom: solid #C5C5C5 2px;
    color: #C5C5C5;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    align-items: center;
    line-height: 120px;
}

.noComment {
    color: #C5C5C5;
}

.paging {
    display: flex;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 33px;
}

.paging>span {
    display: inline-block;
    margin: 5px;
    font-size: 18px;
    width: 32px;
    height: 32px;
    border: 0px solid white;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}

.activePage {
    border: 1px solid #A3A3A3 !important;
}

.postCommentDiv {
    padding: 15px;
    text-align: right;
}

.sectionPostReply {
    display: flex;
    justify-content: space-between;
    white-space: pre;
}

.sectionReply {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom: solid #C5C5C5 2px;
    white-space: pre;
}

.sectionReply > div {
    font-weight: bold;
}

.replyArrowImg {
    height: 30px;
    margin-right: 10px;
}

.sectionRightArea {
    display: flex;
    flex-direction: column-reverse;
}

.sectionRightArea>div {
    /* border: dashed red 3px; */
    /* padding-right: 100px; */
    /* position: sticky; */
    position:fixed;
    right: 100px;
    bottom: 40px;
}

.movetopIcon {
    float: right;
    width: 50px;
    cursor: pointer;
}