.container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
}

.sectionCenter {
    width: 800px;
}

.pageHeader {
    display: inline-block;
    width: 800px;
    border-bottom: solid #C5C5C5 3px;
}

.pageHeader > h1 {
    text-align: left;
    margin-bottom: 30px;
    cursor: default;
}

.pageHeader > div {
    display: flex;
}

.pageHeaderContent {
    width: 90%;
    text-align: left;
    color: #C5C5C5;
    cursor: default;
}

.pageHeaderWriteBtn {
    width: 10%;
    cursor: pointer;
    font-weight: bold;
}

.mbtwhyTable {
    width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
}

.mbtwhyTable > tbody > tr {
    display: flex;;
}

.sectionRightArea {
    display: flex;
    flex-direction: column-reverse;

    /* 푸터에 배경이미지 추가 후 플로팅버튼을 가리지 않도록 추가 */
    position: relative;
    z-index: 10;
}

.sectionRightArea>div {
    /* border: dashed red 3px; */
    /* padding-right: 100px; */
    /* position: sticky; */
    position:fixed;
    right: 100px;
    bottom: 40px;
}

.movetopIcon {
    float: right;
    width: 50px;
    cursor: pointer;
}