/* 리스트 */

.container{
    padding-top: 80px;
    /* border: 1px solid blue; */
	height: auto;
    min-height: 100%;
    padding-bottom: 60px; /* 푸터 높이만큼 확보해둠 */
    
    display: flex;
}

.sectionLeftArea,
.sectionRightArea,
.section {
    flex: 1;
}
/* .sectionLeftArea,
.sectionRightArea {
    background: aliceblue;
} */

.section {
    /* border: 1px solid red; */
    min-height: 900px; /* 컨텐츠가 매우 짧더라도 푸터가 바로 붙지 않도록 최소높이 지정 */
    width: 883px;
    font-size: 20px;
}

.boardTitle {
    background-color:#F3F3F3;
    width:883px; 
    height:110px;
    line-height: 110px;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 35px;
    margin-bottom: 40px;
}

.aboveTable {
    display:flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-left: 10px;
}
.table>tbody>tr>td {
    padding-top: 15px;
    padding-bottom: 15px;
}


.table>tbody>tr>td:not(:nth-child(2)) {
    color:#8F8F8F;
}
.table {
    width: 900px;
    margin-bottom: 40px;
    border-bottom: black 1px solid;
    border-top: black 1px solid;
}
.table>tbody>tr>td {
    padding: 15px 20px;
}
.table>tbody>tr:not(:first-child) {
    border-top: #d9d9d9 1px solid;
}


.table>tbody>tr>td:nth-child(2){
    /* 줄바꿈을 막고 생략기호 표시 */
    display: block;
    width: 524.65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    /* background: ghostwhite; */
}

.paging {
    display: flex;
    justify-content: center;
    margin-top: 33px;
}
.paging>span {
    display: inline-block;
    margin: 5px;
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border:0px solid white;
    text-align: center;
}
.activePage {
    border: 1px solid #A3A3A3 !important;
    background: #f8f8f8;
}

.searchBar {
    display: inline-block;
    position: relative;
}
.searchBar>input {
    border: 1px solid #767676;
    border-radius: 25px;
    height: 40px;
    padding: 3px 42px 3px 13px;
    width: 220px;
    font-size: 18px;
}
.searchBtnIcon {
    position: absolute;
    top: 8px;
    right: 14px;
    width: 23px;
    z-index: 1;
    cursor: pointer;
}


/* 상세 */
.postArea {
    width: 100%;
    min-height: 80%; /* 게시글이 짧더라도 최소 높이 확보 */
    /* background: seashell;  */
    border: 1px solid #E6E6E6;
    padding: 50px;
}
.postArea>div:first-child {
    float: right;
    padding-right: 20px;
}
.popover {
    width: 100px;
    text-align: center;
}
.popoverIcon {
    width: 20px;
    cursor: pointer;

    position: relative; /* 자신의 원래 위치를 기준으로 좌표 이동 */
    top: -45px;
    right: -50px;
}
.popoverItem {
    cursor: pointer;
    min-width: 60px;
    text-align: center;
}
.postTitle {
    /* background:lightgoldenrodyellow; */
    white-space: normal;
    word-break: keep-all; /* 줄바꿈시 단어 단위 유지 */
    margin-bottom: 25px;
}
.viewIcon {
    max-width: 19px;
    margin-left: 20px;
}
.postArea>h6 {
    margin-top: 5px;
    color: #8F8F8F;
}
.postContent {
    /* background: lightblue; */
    font-size: 18px;
    width: 100%;
    min-height: 300px; /* 게시글 내용이 적더라도 최소 높이 유지 */
    padding: 60px 0  80px 0; /* top right bottom left */
    white-space: normal;
    word-break: keep-all; /* 줄바꿈시 단어 단위 유지 */
}

/* 플로팅 버튼 */
.sectionRightArea {
    display: flex;
    flex-direction: column-reverse;
}
.sectionRightArea>div {
    /* border: dashed red 3px; */
    padding-right: 100px;
}
.movetopIcon {
    float: right;
    width: 50px;
    position: sticky;
    cursor: pointer;
}