/* 리스트 */

.container{
    padding-top: 80px;
    /* border: 1px solid blue; */
	height: auto;
    min-height: 100%;
    padding-bottom: 60px; /* 푸터 높이만큼 확보해둠 */
    
    display: flex;
    justify-content: center;
}

.section {
    /* border: 1px solid red; */
    min-height: 900px; /* 컨텐츠가 매우 짧더라도 푸터가 바로 붙지 않도록 최소높이 지정 */
    width: 883px;
    font-size: 20px;
}

.boardTitle {
    background-color:#F3F3F3;
    width:883px; 
    height:110px;
    line-height: 110px;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 35px;
    margin-bottom: 40px;
}

.row1st {
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 10px;
}

.table>tbody>tr>td {
    padding-top: 15px;
    padding-bottom: 15px;
}
.table>tbody>tr:last-child {
    border-bottom: #dee2e6 1px solid;
}

.paging {
    display: flex;
    justify-content: center;
}

.paging>span {
    display: inline-block;
    margin: 5px;
    font-size: 18px;
    width: 32px;
    height: 32px;
    border:0px solid white;
    text-align: center;
    line-height: 32px;
}

.activePage {
    border: 1px solid #A3A3A3 !important;
    background: #f8f8f8;
}

.searchBar>input {
    border-radius: 25px;
    height: 40px;
    position: relative;
    padding: 3px;
}

/* .searchBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
} */


/* 상세 */
.postBox {
    /* width: 750px; */
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 350px;
    /* background: pink; */
}
.postTitle {
    font-size: 30px;
    white-space: normal; /* 줄바꿈 */
}
.writeDate {
    font-size: 16px;
    color: #8F8F8F;
}
.viewIcon {
    width: 18px;
    margin-left: 18px;
    margin-right: 6px;
    color: #8F8F8F;
}

.popover {
    width: 100px;
    text-align: center;
}
.popoverIcon {
    width: 20px;
    cursor: pointer;
}
.postTitleArea {
    display: flex;
    justify-content: space-between;
}
.popoverItem {
    cursor: pointer;
}

