.container {
    margin-top: 53px;
}

.sectionPageHeader {
    width: 800px;
    margin: 0 auto;
}

.pageHeader {
    display: flex;
    border-bottom: solid #4D6879 3px;
}

/* .dropDownStyle {
    margin: 0 auto;
    border: none;
    box-shadow: none;
    background-color: white;
    color: black;
} */

.pageHeader > h1 {
    width: 70%;
    text-align: left;
}

.dropDownImg {
    width: 30px;
    margin-right: 10px;
}

.sectionBoard {
    padding: 25px;
    border-bottom: solid #C5C5C5 2px;
    font-weight: bold;
}

.boardWriter {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.boardWriter > div {
    display: flex;
}

.circleDiv {
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

.boardDate {
    margin-bottom: 30px;
    color: #C5C5C5;
}

.viewIcon {
    height: 20px;
    margin-left: 30px;
    margin-right: 5px;
}

.boardContent {
    display: flex;
    overflow: hidden;
    width: 700px;
    text-align: left;
    margin-bottom: 30px;
}

.boardLower {
    display: flex;
    color: #C5C5C5;
    font-size: 20px;
}

.boardLower > div {
    display: flex;
}

.boardLower > div > img {
    height: 30px;
}

.bookmarkDiv {
    display: flex;
    width: 20%;
    justify-content: start;
}

.thumbDiv {
    display: flex;
    width: 80%;
    justify-content: center;
}

.listDiv {
    display: flex;
    width: 20%;
    justify-content: end;
}

.sectionComment {
    padding: 15px 25px 15px 25px;
    border-bottom: solid #C5C5C5 2px;
}

.sectionComment > div{
    font-weight: bold;
}

.commentCountDiv {
    padding: 15px 25px 15px 25px;
    border-bottom: solid #C5C5C5 2px;
}

.commentCountDiv > div {
    font-weight: bold;
}

.pagingLabel {
    margin: 0 auto;
    width: 600px;
}

.postCommentDiv {
    padding: 15px;
    text-align: right;
}

.replySection {
    display: flex;
    justify-content: space-between;
}

.replyArrowImg {
    height: 30px;
    margin-right: 10px;
}