.container {
    margin-top: 90px;
    margin-bottom: 90px;
}

.sectionCenter {
    width: 800px;
    margin: 0 auto;
}

.pageHeader {
    display: flex;
    border-bottom: solid #C5C5C5 3px;
}

/* .dropDownStyle {
    margin: 0 auto;
    border: none;
    box-shadow: none;
    background-color: white;
    color: black;
} */

.pageHeader > h1 {
    width: 70%;
    text-align: left;
}

.dropDownImg {
    width: 30px;
    margin-right: 10px;
}

.sectionBoard {
    padding: 25px;
    border-bottom: solid #C5C5C5 2px;
    font-weight: bold;
}

.popoverButton {
    margin-left: 20px;
    background: none;
    font-weight: bold;
    border: 0;
}

.popoverImg {
    width: 30px;
    margin-right: 10px;
}

.popoverItem {
    cursor: pointer;
    min-width: 30px;
    text-align: center;
}

.boardTitle {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.writerDiv {
    display: flex;
    margin-bottom: 10px;
}

.writerDiv > div {
    display: flex;
}

.circleDiv {
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

.commentLowDiv {
    display: flex;
    color: #C5C5C5;
    justify-content: space-between;
}

.viewIcon {
    height: 20px;
    margin-left: 30px;
    margin-right: 5px;
}

.sectionVote {
    display: flex;
    margin: 0 auto;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.subject {
    width: 300px;
    position: relative;
    margin-bottom: 20px;
}

.subject > img {
    width: 300px;
    height: 300px;
    filter: brightness(0.4);
}

/* .subject > div {
    height: 300px;
} */

.subject > h4 {
    text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate( -50%, -50% );
    color: lightgray;
}

.voteItemDiv {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
}

.voteItemDiv > h4 {
    text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate( -50%, -50% );
}

.voteButtonDiv {
    display: flex;
    justify-content: right;
}

.boardContent {
    display: flex;
    overflow: hidden;
    width: 700px;
    text-align: left;
    margin-bottom: 30px;
}

.boardLow {
    display: flex;
    color: #C5C5C5;
    font-size: 20px;
    justify-content: space-between;
}

.boardLow > div {
    display: flex;
}

.boardLow > div > img {
    height: 30px;
}

.bookmarkDiv {
    display: flex;
    justify-content: start;
}

.thumbDiv {
    display: flex;
    width: 80%;
    justify-content: center;
}

.listDiv {
    display: flex;
    justify-content: end;
}

.sectionComment {
    padding: 25px;
    border-bottom: solid #C5C5C5 1px;
}

.sectionComment > div {
    font-weight: bold;
}

.commentCountDiv {
    padding: 15px 25px 15px 25px;
    border-bottom: solid #C5C5C5 2px;
}

.commentCountDiv > div {
    font-weight: bold;
}

.sectionDeletedComment {
    min-height: 120px;
    padding: 15px 25px 15px 25px;
    border-bottom: solid #C5C5C5 2px;
    color: #C5C5C5;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    align-items: center;
    line-height: 120px;
}

.paging {
    display: flex;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 33px;
}

.paging>span {
    display: inline-block;
    margin: 5px;
    font-size: 18px;
    width: 32px;
    height: 32px;
    border: 0px solid white;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}

.activePage {
    border: 1px solid #A3A3A3 !important;
}

.postCommentDiv {
    padding: 15px;
    text-align: right;
}