.container {
    margin-top: 100px;
}

.sectionCenter {
    width: 800px;
    margin: 0 auto;
}

.boardTitleB {
    display: inline-flex;
    justify-content: space-between;
    background-color:#F3F3F3;
    width:800px;
    height:110px;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    padding-left: 35px;
    /* margin-bottom: 40px; */
    padding-top: 20px;
}
.boardTitleB>.boardTitleTextArea>p:first-child {
    font-size: 25px;
    margin-bottom: 0px;
    text-align: left;
} 
.boardTitleB>.boardTitleTextArea>p+p {
    font-size: 15px;
    font-weight: 600;
    color: #868484;
} 
.boardTitleImg {
    position: relative;
    bottom: 25px;
}

.formTitleDiv {
    display: flex;
    padding: 15px;
    justify-content: center;
}

.formTitleDiv > h5 {
    font-weight: bold;
}

.buttonDiv {
    width: 775px;
    padding: 15px;
    text-align: right;
}

.sectionSubject {
    display: flex;
    /* justify-content: center; */
}

.deleteButton {
    border: none;
    color: #adadad; 
}

.sectionSubject > div {
    margin: 20px auto;
}

.sectionSubject > * {
    font-weight: bold;
}

.inputFileDiv {
    display: flex;
    width: 300px;
    height: 300px;
    border: solid #C5C5C5 1px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sectionRightArea {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    z-index: 10;
}

.sectionRightArea>div {
    /* border: dashed red 3px; */
    /* padding-right: 100px; */
    /* position: sticky; */
    position:fixed;
    right: 100px;
    bottom: 40px;
}

.movetopIcon {
    float: right;
    width: 50px;
    cursor: pointer;
}