.container {
    margin-top: 100px;
}

.sectionCenter {
    width: 800px;
    margin: 0 auto;
}

.pageHeader {
    display: flex;
    border-bottom: solid #C5C5C5 3px;
}

.formTitleDiv {
    display: flex;
    padding: 15px;
    justify-content: center;
}

.formTitleDiv > h5 {
    font-weight: bold;
}

.ButtonDiv {
    width: 775px;
    padding: 15px;
    text-align: right;
}

.sectionSubject {
    display: flex;
    /* justify-content: center; */
}

.sectionSubject > div {
    margin: 20px auto;
}

.sectionSubject > * {
    font-weight: bold;
}

.inputFileDiv {
    display: flex;
    width: 300px;
    height: 300px;
    border: solid #C5C5C5 1px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sectionRightArea {
    display: flex;
    flex-direction: column-reverse;

    /* 푸터에 배경이미지 추가 후 플로팅버튼을 가리지 않도록 추가 */
    position: relative;
    z-index: 10;
}

.sectionRightArea>div {
    /* border: dashed red 3px; */
    /* padding-right: 100px; */
    /* position: sticky; */
    position:fixed;
    right: 100px;
    bottom: 40px;
}

.movetopIcon {
    float: right;
    width: 50px;
    cursor: pointer;
}