.container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 50px;
}

.sectionCenter {
    width: 800px;
}

.pageHeader {
    display: block;
    width: 800px;
    border-bottom: solid #4D6879 3px;
}

.pageHeader > h1 {
    text-align: left;
    margin-bottom: 15px;
    cursor: default;
}

.pageHeader > div {
    display: flex;
    justify-content: space-between;
}

.pageHeaderContent {
    line-height: 42px;
    text-align: left;
    color: #C5C5C5;
    cursor: default;
}

.pageHeaderWriteBtn {
    margin: auto 10px;
    font-weight: bold;
    cursor: pointer;
}

.popoverButton {
    background: none;
    font-weight: bold;
    border: 0;
}

.sortImg {
    height: 30px;
    margin-right: 10px;
}

.popoverItem {
    cursor: pointer;
    min-width: 60px;
    text-align: center;
}

.sectionBoards {
    display: flex;
    flex-wrap: wrap;
    cursor: default;
    justify-content: left;
}

.sectionBoard {
    width: 370px;
    margin: 15px;
    border: solid #C5C5C5 2px;
    font-weight: bold;
}

.boardImages {
    display: flex;
    height: 140px;
}

.boardImages > div {
    width: 185px;
    border-bottom: solid #C5C5C5 2px;
}

.boardImages > div > img {
    max-width: 180px;
    max-height: 135px;
}

.voteItemDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boardContents {
    cursor: pointer;
    text-align: left;
}

.boardContents > * {
    color: black;
}

.boardTitle {
    margin: 5px;
    text-align: left;
    font-size: small;
    font-weight: bold;
}

.boardContentsLow {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.boardVotedCount {
    font-size: small;
    font-weight: bold;
    color: #1FAB70;
}

.paging {
    display: flex;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 33px;
}

.paging>span {
    display: inline-block;
    margin: 5px;
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border:0px solid white;
    text-align: center;
    cursor: pointer;
}

.activePage {
    border: 1px solid #A3A3A3 !important;
    background: #f8f8f8;
}

.noMbattle {
    margin: 100px;
    color:#C5C5C5;
}

.sectionSearch {
    width: 600px;
    text-align: center;
    margin: 0 auto;
}
