.container{
    padding-top: 64px; /* 배너를 헤더 바로 아래로 붙이기 위함 */
    /* border: 3px solid blue; */
	height: auto;
    min-height: 100%;
    padding-bottom: 60px; /* 푸터 높이만큼 확보해둠 */
    
}

.container>div {
    display: flex;
}

.sectionLeftArea,
.sectionRightArea,
.section {
    flex: 1;
}
/* .sectionLeftArea,
.sectionRightArea {
    background: aliceblue;
} */

.section {
    /* border: 1px solid red; */
    min-height: 600px; /* 컨텐츠가 매우 짧더라도 푸터가 바로 붙지 않도록 최소높이 지정 */
    width: 883px;
    font-size: 20px;
}

.boardTitleB {
    background-color:#F3F3F3;
    width:883px; 
    height:110px;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    padding-left: 35px;
    /* margin-bottom: 40px; */
    padding-top: 20px;
}
.boardTitleB>.boardTitleTextArea>p:first-child {
    font-size: 25px;
    margin-bottom: 0px;
} 
.boardTitleB>.boardTitleTextArea>p+p {
    font-size: 15px;
    font-weight: 600;
    color: #868484;
} 
.boardTitleImg {
    position: relative;
    bottom: 25px;
}
.boardTitleB {
    display: flex;
    justify-content: space-between;
}



.section a,
.section a:link, 
.section a:visited, 
.section a:hover, 
.section a:active,
.boardTitleB,
.boardTitleB:link, 
.boardTitleB:visited, 
.boardTitleB:hover, 
.boardTitleB:active {
    color: black;
    text-decoration: none;
}

.boardTitleB>span>p:first-child {
    font-size: 25px;
    margin-bottom: 0px;
} 
.boardTitleB>span>p+p {
    font-size: 15px;
    font-weight: 600;
} 

/* 플로팅 버튼 */
.sectionRightArea {
    display: flex;
    flex-direction: column-reverse;
    
    /* 푸터에 배경이미지 추가 후 플로팅버튼을 가리지 않도록 추가 */
    position: relative;
    z-index: 10;
}
.sectionRightArea>div {
    /* border: dashed red 3px; */
    /* padding-right: 100px; */
    /* position: sticky; */
    position:fixed;
    right: 100px;
    bottom: 40px;
}
.movetopIcon {
    float: right;
    width: 50px;
    cursor: pointer;
}

/* 배너 */
.bannerArea {
    /* border: 3px dashed orange; */
    box-sizing: border-box;
    height: 300px;
    width: 100%;
    min-width: 1400px;
    margin-bottom: 25px;
    overflow: hidden;
}


/* 게시판별 최신글 목록 */
.newlyPosts {
    padding: 6px 30px;
    width: 883px;
    font-size: 16px;
    /* background: honeydew; */
}
.table {
    width: 100%;
    margin-bottom: 15px;
}
.table>tbody>tr:not(:first-child) {
    border-top: 1px solid #9B9B9B;
}
.table>tbody>tr>td {
    padding: 6px;

    /* display: flex; */
}
.table>tbody>tr>td:nth-child(2) small {
    color: #6e6e6e;
}
.profileColor {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 5px;

    position: relative;
    top: 3px;
}

/* 댓글수 */
.table>tbody>tr>td>span>span:nth-child(2) {
    margin-left: 5px;
}
/* 작성일시 */
.table>tbody>tr>td small {
    margin: 0 25px;
}

/* (1) td 안의 두 자식 영역
부모에 display:flex를 주고, 한 자식요소는 너비를 지정, 다른 자식요소는 flex-grow:1을 주어 나머지 영역을 모두 차지하게 함
(2) float:right로 밀기
*/
.postWriterInfo {
    /* background-color: lightgoldenrodyellow; */
    /* display: inline-block; */
    /* width: 200px; */

    float: right;
}
.postTitleAndEtc {
    /* background: mintcream; */
    /* flex-grow: 1; */
}

.overflowLong {
    /* 줄바꿈을 막고 생략기호 표시 */
    display: inline-block;
    max-width: 490px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* margin: 0 auto; */
    /* background: ghostwhite; */

    line-height: 100%;
}





