.container{
	height: auto;
    min-height: 100%;
    padding-bottom: 60px; /* 푸터 높이만큼 확보해둠 */
    min-width: 80%;

    display: flex;
    justify-content: flex-start;

    padding-top: 80px;

    border: 1px solid blue;

    
    /* 너비와 높이에 padding과, border가 포함되도록 함 */
    /* box-sizing: border-box;  */
}

.section {
    position:relative;
    right: 100px;
    min-height: 900px; /* 컨텐츠가 매우 짧더라도 푸터가 바로 붙지 않도록 최소높이 지정 */
    width: 100%;
    font-size: 20px;
    
    border: 1px solid red;
    display: flex;
    justify-content: center;   
}
.section>div {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 가운데 정렬 */

    width: 900px;
    /* background: seashell; */
}
.sectionTitle {
    width: 900px;
    /* width: 100%; */
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 500;
    border-bottom: 4px solid black;
    padding-bottom: 2px;
}


.adminPage {
    background-color: #F3F3F3;
    width: 100%;
    height: 240px;
    line-height: 240px;
    padding-left: 300px;
    font-size: 25px;
    font-weight: 700;
    margin-top: 66px;
    
    position: relative;
    overflow: hidden; /* 오버레이 */
}
.adminPageImg {
    position: absolute;
    top: -110px;
    right: 100px !important;
    width: 500px;
    /* object-fit: none; 이미지 자체의 크기 유지 */
}