.adminNav {
    width: 230px;
    height: 500px;
    background-color: #F3F3F3;
    padding: 60px 10px 40px 0;
    margin-right: 100px;
}
.adminNav>div {
    width: 100%;
}
.adminNav>div>* {
    /* border: 1px solid salmon; */
    padding: 5px 0 5px 0;
}
.navLink {
    color: #767676 !important;
    display: flex;
    justify-content: flex-end;
    
}
.navActive {
    color: black !important;
    font-weight: 700 !important;
}